<B $D>
  <a @y>
    <p $title @x>hellow</p>
    <input @x $in1 type="text"/>
  </a>
</B>
<!--
<input $in1 name="x" value="one" type="radio"/>
<br>
<input $in2 name="x" value="two" type="radio"/>
-->
<!--
<select $s multiple>
  <option value="hellow-value">Hellow</option>
  <option value="world-value">World</option>
</select>

<br><br>

<select $si multiple>
  <option value="hellow-value">Hellow</option>
  <option value="world-value">World</option>
</select>

<br><br>
-->

<br><br>

<textarea $t></textarea>
<br/>
<span $st>values here ...</span>
