<B $D>
  <a @y>
    <div @header>
      <p $title>hellow</p>
    </div>
    <if condition="show" @content>
      <input $t @else type="text"/>
      <select $s @then multiple>
        <option value="aa">hellow</option>
        <option value="bb">world</option>
      </select>
    </if>
  </a>
</B>

<br><br><br>


<input $showvalue type="checkbox"/>show value

<br><br><br>

<if condition="show">
  <div @then>
    <for each="thing" of="s" index="i">
      <div context:data-value="thing.name" $listitem>
        <span context:text="i" context:ind="i"></span>--<span context:text="thing.name">an item here.</span>
      </div>
    </for>
  </div>
  <div $yo @else>
    not showing value list.
  </div>
</if>

<br><br>

<for each="row" of="grid" index="i" odd="odd">
  <for each="col" of="row" index="j" last="last">
    [<span context:text="i"></span><span context:text="j"></span>]<span context:text="col"></span>
    <if condition="last">
      <if condition="odd" @else>
        <span @then>.......</span>
        <span @else>------</span>
      </if>
    </if>
    <!--
    <if condition="last">
      <span @else>
      </span>
    </if>
    -->
  </for>
  <br>
</for>
