<B $D>
  <a @y>
    <div @header>
      <p $title>hellow</p>
    </div>
    <select $s @content multiple>
      <option value="aa">hellow</option>
      <option value="bb">world</option>
    </select>
  </a>
</B>

<br><br><br>

<!--
<input $showvalue type="checkbox"/>show value

<br><br><br>

<conditional $value>
  <span $st @then>values here ...</span>
  <span @else>not showing values</span>
</conditional>
-->

<list $valuelist>
  <div context:data-value="item" $listitem>
    <span context:text="index"></span>--<span context:text="item">an item here.</span>
  </div>
</list>
